{% extends 'base.html' %}

{% block content %}
<div class="mt-3">
    <form method="GET" action="{% url 'ruta_disponible' %}" class="mb-4">
        <div class="input-group">
            <input type="text" name="searchRuta" class="form-control" placeholder="Buscar ruta" value="{{ request.GET.searchRuta }}">
            <button class="btn btn-dark" type="submit">Buscar</button>
        </div>
    </form>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Origen - Destino</th>
            <th>Duración</th>
            <th>Dia de Salida</th>
            <th>Dia de Retorno</th>
            <th>Precio</th>
            <th>Nombre del Tren</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for ruta in rutas %}
            <tr>
                <td>{{ ruta.origen }} - {{ ruta.destino }}</td>
                <td>{{ ruta.duracion_formateada }}</td>
                <td>{{ ruta.dia_salida }}</td>
                <td>{{ ruta.dia_retorno }}</td>
                <td>{{ ruta.precio_bs }}</td>
                <td>{{ ruta.tren.nombre }}</td>
                <td>
                    <a href="reservarAsiento/{{ruta.id}}" class="btn btn-sm btn-info m-1">
                        <i class="fas fa-edit"></i> Reservar asientos
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}