{% extends 'base.html' %}

{% block content %}

<div class="container mt-2">
    <form action="{% url 'ruta_registrar' %}" method="POST" class="p-4 shadow-lg rounded"
        style="max-width: 600px; margin: auto; background-color: #f8f9fa;"> {% csrf_token %}
        <h2 class="text-center mb-4">Registro de Ruta de Tren</h2>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="origen" class="form-label">Origen</label>
                <input type="text" class="form-control" id="txtOrigen" name="txtOrigen"
                    placeholder="Ingrese la estación de origen" required value="{{ request.POST.txtOrigen|default:'' }}">
                <div class="invalid-feedback">Por favor, ingrese la estación de origen.</div>
            </div>
            <div class="form-group col-md-6">
                <label for="destino" class="form-label">Destino</label>
                <input type="text" class="form-control" id="txtDestino" name="txtDestino"
                    placeholder="Ingrese la estación de destino" required value="{{ request.POST.txtDestino|default:'' }}">
                <div class="invalid-feedback">Por favor, ingrese la estación de destino.</div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="duracion" class="form-label">Duración (en minutos)</label>
                <input type="time" class="form-control" id="numDuracion" name="numDuracion"
                    placeholder="Ingrese la duración de la ruta" min="1" required value="{{ request.POST.numDuracion|default:'' }}">
                <div class="invalid-feedback">Por favor, ingrese una duración válida.</div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="dias_disponibles" class="form-label">Días de salida</label>
                <select class="form-control" id="selectDiasDisponibles" name="selectDiaSalida" required value="{{ request.POST.selectDiaSalida|default:'' }}">
                    <option value="Lunes" {% if request.POST.selectDiaSalida == "Lunes" %}selected{% endif %}>Lunes</option>
                    <option value="Martes" {% if request.POST.selectDiaSalida == "Martes" %}selected{% endif %}>Martes</option>
                    <option value="Miércoles" {% if request.POST.selectDiaSalida == "Miércoles" %}selected{% endif %}>Miércoles</option>
                    <option value="Jueves" {% if request.POST.selectDiaSalida == "Jueves" %}selected{% endif %}>Jueves</option>
                    <option value="Viernes" {% if request.POST.selectDiaSalida == "Viernes" %}selected{% endif %}>Viernes</option>
                    <option value="Sábado" {% if request.POST.selectDiaSalida == "Sábado" %}selected{% endif %}>Sábado</option>
                    <!-- Añade más días si es necesario -->
                </select>
                <div class="invalid-feedback">Por favor, seleccione los días en que la ruta está disponible.</div>
            </div>
            <div class="form-group col-md-6">
                <label for="dias_disponibles" class="form-label">Días de retorno</label>
                <select class="form-control" id="selectDiasDisponibles" name="selectDiaRetorno" required>
                    <option value="Lunes" {% if request.POST.selectDiaRetorno == "Lunes" %}selected{% endif %}>Lunes</option>
                    <option value="Martes" {% if request.POST.selectDiaRetorno == "Martes" %}selected{% endif %}>Martes</option>
                    <option value="Miércoles" {% if request.POST.selectDiaRetorno == "Miércoles" %}selected{% endif %}>Miércoles</option>
                    <option value="Jueves" {% if request.POST.selectDiaRetorno == "Jueves" %}selected{% endif %}>Jueves</option>
                    <option value="Viernes" {% if request.POST.selectDiaRetorno == "Viernes" %}selected{% endif %}>Viernes</option>
                    <option value="Sábado" {% if request.POST.selectDiaRetorno == "Sábado" %}selected{% endif %}>Sábado</option>
                    <!-- Añade más días si es necesario -->
                </select>
                <div class="invalid-feedback">Por favor, seleccione los días en que la ruta está disponible.</div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="dias_disponibles" class="form-label">Horario salida</label>
                <input type="time" class="form-control" id="horarioSalida" name="horarioSalida" required value="{{ request.POST.horarioSalida|default:'' }}">
                <div class="invalid-feedback">Por favor, seleccione los días en que la ruta está disponible.</div>
            </div>
            <div class="form-group col-md-6">
                <label for="dias_disponibles" class="form-label">Horario retorno</label>
                <input type="time" class="form-control" id="horarioRetorno" name="horarioRetorno" required value="{{ request.POST.horarioRetorno|default:'' }}">
                <div class="invalid-feedback">Por favor, seleccione los días en que la ruta está disponible.</div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="precio" class="form-label">Precio</label>
                <input type="number" class="form-control" id="numPrecio" name="numPrecio"
                    placeholder="Ingrese el precio de la ruta" step="0.01" min="0" required value="{{ request.POST.numPrecio|default:'' }}">
                <div class="invalid-feedback">Por favor, ingrese un precio válido.</div>
            </div>
            <div class="form-group col-md-6">
                <label for="tren" class="form-label">Tren</label>
                <select class="form-control" id="selectTren" name="selectTren">
                    <option value="">Seleccione un tren </option>
                    {% for tren in trenes %}
                    <option value="{{ tren.id }}" >{{ tren.nombre }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">Por favor, seleccione un tren si corresponde.</div>
            </div>
        </div>
        {% if messages %}
                {% for message in messages %}
                    <label>{{ message }}</label>
                {% endfor %}
            {% endif %}
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-dark">Registrar Ruta</button>
            <a href="javascript:history.back()" type="reset" class="btn btn-dark">Cancelar</a>
        </div>
    </form>
</div>

{% endblock %}