{% extends 'base.html' %}

{% block content %}

<form action="{% url 'tren_editar' %}" method="POST" class="p-4 shadow-lg rounded" style="max-width: 600px; margin: auto; background-color: #f8f9fa;"> {% csrf_token %}
    <input type="hidden" value={{tren.id}} name="id">
    
    <div class="form-group">
        <label for="txtNombre">Nombre: </label>
        <input type="text" class="form-control" value="{{tren.nombre}}" id="txtNombre" name="txtNombre" placeholder="Nombre" required>
    </div>
    
    <div class="form-group">
        <label for="txtCapacidad">Estado: </label>
        <select class="form-control" id="opciones"  name="txtEstado">
            <option value="True" {% if tren.estado %}selected{% endif %}>Operativo</option>
            <option value="False" {% if not tren.estado %}selected{% endif %}>Fuera de servicio</option>
        </select>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <a href={% url 'trenes_lista' %} class="btn btn-dark btn-block mt-3"
                style="background-color: #000000; border-color: #000000"
                onmouseover="this.style.transform='scale(1.05)'; this.style.backgroundColor='#2c2c2c';"
                onmouseout="this.style.transform='scale(1)'; this.style.backgroundColor='#000000';">
                <i class="fas fa-save"></i> Cancelar
            </a>
        </div>
        <div class="form-group col-md-6">
            <button type="submit" class="btn btn-dark btn-block mt-3"
                style="background-color: #000000; border-color: #000000"
                onmouseover="this.style.transform='scale(1.05)'; this.style.backgroundColor='#2c2c2c';"
                onmouseout="this.style.transform='scale(1)'; this.style.backgroundColor='#000000';">
                <i class="fas fa-save"></i> Confirmar
            </button>
        </div>
    </div>
</form>

{% endblock %}