{% extends 'base.html' %}

{% block content %}

<form action="{% url 'tren_editar' %}" method="POST"> {% csrf_token %}

    <p>Tren de servicio: {{tren.nombre}}</p>
    <input type="hidden" name="id" value="{{tren.id}}">
    <label for="txtEstado">Estado: </label>
    <select id="opciones"  name="txtEstado">
        <option value="True" {% if tren.estado %}selected{% endif %}>Operativo</option>
        <option value="False" {% if not tren.estado %}selected{% endif %}>Fuera de servicio</option>
    </select>
    <br>
    <input type="submit" value="Guardar">

</form>

{% endblock %}