{% extends 'base.html' %}

{% block  content %}

<form action="{% url 'clientes_editar' %}" method="POST"> {% csrf_token %}
    <p>Cliente: {{cliente.apellido_paterno}} {{cliente.apellido_materno}} {{cliente.nombres}}</p>
    <input type="hidden" name="id" value="{{cliente.id}}">
    <label for="txtCorreo">Correo: </label>
    <input type="text" value="{{cliente.correo}}" name="txtCorreo" placeholder="Correo" required> <br>
    <label for="txtTelefono">Telefono: </label>
    <input type="text" value="{{cliente.telefono}}" name="txtTelefono" placeholder="Telefono" required> <br>
    <label for="txtDireccion">Direccion: </label>
    <input type="text" value="{{cliente.direccion}}" name="txtDireccion" placeholder="Direccion" required> <br>
    <input type="submit" value="Guardar">
</form>

{% endblock  %}