{% extends 'base.html' %}

{% block  content %}

<form action="POST">
    <p>AQUI VA EL NOMBRE COMPLETO DEL CLIENTE (NO SE PUEDE EDITAR)</p>
    <label for="txtCorreo">Correo: </label>
    <input type="text" placeholder="Correo" required> <br>
    <label for="txtTelefono">Telefono: </label>
    <input type="text" placeholder="Telefono" required> <br>
    <label for="txtDireccion">Direccion: </label>
    <input type="text" placeholder="Direccion" required> <br>
    <label for="txtContraseña">Contraseña: </label>
    <input type="text" placeholder="Contraseña" required> <br>
    <label for="txtConfContraseña">Confirmar contraseña: </label>
    <input type="text" placeholder="Confirmar contraseña" required> <br>
    

</form>

{% endblock  %}