{% extends 'base.html' %}

{% block content %}
<style>
    .profile-container {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f8f9fa;
    }

    .profile-card {
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
        background-color: #ffffff;
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #000;
    }

    .btn-dark {
        background-color: #000;
        border: none;
    }

    .btn-dark:hover {
        background-color: #333;
    }

    .btn:focus {
        outline: none;
        box-shadow: none;
    }

    /* Modal de cambiar contraseña sin estilos adicionales */
    #modalCambiarContraseña .modal-dialog {
        max-width: 500px;
        /* Ancho predeterminado para modales */
        width: 100%;
    }

    #modalMisReservas .modal-dialog {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 90%;
        /* Ajusta según el contenido */
        width: auto;
        margin: auto;
        /* Centra el modal horizontalmente */
    }

    #modalMisReservas .modal-content {
        width: auto;
        max-width: none;
        /* Elimina cualquier restricción de ancho predeterminado */
    }

    /* Tabla responsive para pantallas pequeñas */
    #modalMisReservas .modal-body {
        overflow-x: auto;
        /* Permite desplazamiento horizontal para la tabla */
        padding: 1rem;
        /* Ajusta el espacio para evitar bordes vacíos */
    }

    .table-responsive {
        overflow-x: auto; /* Habilitar el desplazamiento horizontal */
        max-width: 100%; /* Asegurar que no exceda el ancho del contenedor */
    }
    
    .table {
        min-width: 600px; /* Establecer un ancho mínimo para la tabla */
    }

    /* Ajuste de botones para que sean responsivos dentro de la tabla */
    #modalMisReservas .table .d-flex {
        flex-wrap: wrap;
        /* Permite que los botones se muevan a la siguiente línea en pantallas pequeñas */
        gap: 0.5rem;
        /* Espacio entre botones */
    }

    #modalMisReservas .table .btn {
        min-width: 100px;
        /* Ancho mínimo para los botones */
        flex: 1 1 auto;
        /* Hace que los botones ocupen el espacio disponible */
    }
</style>
<div class="profile-container">
    <div class="card profile-card">
        <div class="row">
            <div class="col-md-8">
                <h3 class="card-title text-center mb-4">Mi Cuenta</h3>
                <form>
                    <div class="mb-3">
                        <label for="firstName" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="firstName" value="{{usuario.nombres}}" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="lastName1" class="form-label">Apellido Paterno</label>
                        <input type="text" class="form-control" id="lastName1" value="{{usuario.apellido_paterno}}"
                            disabled>
                    </div>
                    <div class="mb-3">
                        <label for="lastName2" class="form-label">Apellido Materno</label>
                        <input type="text" class="form-control" id="lastName2" value="{{usuario.apellido_materno}}"
                            disabled>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo Electrónico</label>
                        <input type="email" class="form-control" id="email" value="{{usuario.correo}}" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Teléfono</label>
                        <input type="tel" class="form-control" id="phone" value="{{usuario.telefono}}" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Dirección</label>
                        <input type="text" class="form-control" id="address" value="{{usuario.direccion}}" disabled>
                    </div>
                </form>
            </div>
            <div class="col-md-4 sidebar">
                <h5 class="text-center mb-3">Menú</h5>
                <button type="button" class="btn btn-outline-dark w-100 mt-4" data-bs-toggle="modal"
                    data-bs-target="#modalMisReservas">Mis Reservas</button>
                <a href="{% url 'clientes_edicion' usuario.id 'mi_cuenta' %}"
                    class="btn btn-outline-dark w-100 mt-2">Editar Perfil</a>
                <button type="button" class="btn btn-outline-dark w-100 mt-2" data-bs-toggle="modal"
                    data-bs-target="#modalCambiarContraseña">
                    Cambiar contraseña</button>
                <!-- <button type="button" class="btn btn-outline-dark w-100 mt-2">Opción 4</button> -->
                <a href="{% url 'base' %}" class="btn btn-outline-dark w-100 mt-2">Atras</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Cambio de contraseña-->
<div class="modal fade" id="modalCambiarContraseña" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Cambiar contraseña</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="{% url 'mi_cuenta' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="txtContraseña">Contraseña:</label>
                            <input type="password" class="form-control" id="txtContraseña" name="txtContraseña"
                                placeholder="Contraseña">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="txtConfContraseña">Confirmar Contraseña:</label>
                            <input type="password" class="form-control" id="txtConfContraseña" name="txtConfContraseña"
                                placeholder="Confirmar Contraseña">
                        </div>
                    </div>
                </div>
                {% if messages %}
                <div>
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Mis Reservas -->
<div class="modal fade" id="modalMisReservas" tabindex="-1" aria-labelledby="modalMisReservasLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalMisReservasLabel">Mis Reservas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mt-3">
                    <form id="searchForm" method="GET" action="{% url 'mi_cuenta' %}" class="mb-4 w-100">
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <div class="input-group">
                                    <input type="text" name="searchReserva" class="form-control"
                                        placeholder="Buscar reserva" value="{{ request.GET.searchReserva }}">
                                    <button class="btn btn-dark" type="submit" onclick="submitSearch()">
                                        <i class="fa fa-search" aria-hidden="true"></i> Buscar
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-auto mb-2">
                                <a href="{% url 'ruta_disponible' %}" type="submit" id="reserveSeatsBtn"
                                    class="btn btn-dark w-100"
                                    style="background-color: #000000; border-color: #000000; width: 100px;"
                                    onmouseover="this.style.transform='scale(1.01)'; this.style.backgroundColor='#2c2c2c';"
                                    onmouseout="this.style.transform='scale(1)'; this.style.backgroundColor='#000000';">
                                    Nueva reserva
                                </a>
                            </div>
                        </div>
                    </form>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">Origen</th>
                            <th class="text-center" scope="col">Destino</th>
                            <th class="text-center" scope="col">Sale</th>
                            <th class="text-center" scope="col">Horas</th>
                            <th class="text-center" scope="col">Fecha reserva</th>
                            <th class="text-center" scope="col">Estado</th>
                            <th class="text-center" scope="col">Tren</th>
                            <th class="text-center" scope="col">Asientos</th>
                            <th class="text-center" scope="col">Acciones de reserva</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reserva in reservas %}
                        <tr>
                            <td>{{ reserva.ruta__origen }}</td>
                            <td>{{ reserva.ruta__destino }}</td>
                            <td>{{ reserva.ruta__fecha_salida|date:"d/m/Y" }}</td>
                            <td>{{ reserva.ruta__hora_salida|time:"H:i" }}</td>
                            <td>{{ reserva.fecha_reserva|date:"d/m/Y" }}</td>
                            <td>{{ reserva.estado }}</td>
                            <td>{{ reserva.ruta__tren__nombre }}</td>
                            <td class="text-center">{{ reserva.asientos_reservados }}</td>
                            <td>
                                <div class="d-flex">
                                    <a href="{% url 'detalle_reserva' reserva.id %}" class="btn btn-dark mr-1" title="Ver reserva">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                    <a href="{% url 'editar_asiento' reserva.id reserva.ruta__id %}" class="btn btn-dark mr-1" title="Editar reserva">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="#" class="btn btn-dark mr-1 cancelar-reserva-btn" data-id="{{ reserva.id }}" data-bs-toggle="modal" data-bs-target="#confirmarCancelarModal" title="Cancelar reserva">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                    <form method="POST" action="{% url 'enviar_ticket' reserva.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-dark mr-1" title="Enviar a correo">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de confirmación para cancelar reserva -->
<div class="modal fade" id="confirmarCancelarModal" tabindex="-1" aria-labelledby="confirmarCancelarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmarCancelarModalLabel">Confirmar Cancelación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas cancelar esta reserva?</p>
            </div>
            <div class="modal-footer">
                <form id="cancelarReservaForm" method="POST" action="">
                    {% csrf_token %}
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
                        <i class="fa fa-times" aria-hidden="true"></i> No
                    </button>
                    <button type="submit" class="btn btn-dark">
                        <i class="fa fa-check" aria-hidden="true"></i> Sí 
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        if (document.querySelector('.alert')) {
            var modal = new bootstrap.Modal(document.getElementById('exampleModal'));
            modal.show();
        }
    });

    document.addEventListener('DOMContentLoaded', function () {
        // Obtener la fecha actual
        const today = new Date();

        // Convertir la fecha a formato adecuado para la comparación (YYYY-MM-DD)
        const currentDate = today.toISOString().split('T')[0];

        // Obtener todas las filas de la tabla
        const rows = document.querySelectorAll('#modalMisReservas tbody tr');

        rows.forEach(function (row) {
            // Obtener la fecha de la ruta (suponiendo que está en el formato 'd/m/Y')
            const routeDateStr = row.querySelector('td:nth-child(3)').textContent;
            const routeDate = new Date(routeDateStr.split('/').reverse().join('-'));

            // Si la fecha de la ruta es anterior a la fecha actual, deshabilitar los botones
            const buttons = row.querySelectorAll('.btn');
            if (routeDate < today) {
                buttons.forEach(function (button) {
                    button.disabled = true;
                    button.classList.add('disabled'); // Opcional: Añadir la clase 'disabled' para mayor visibilidad
                });
            }
        });
    });

    document.addEventListener('DOMContentLoaded', () => {
        const cancelarReservaBtns = document.querySelectorAll('.cancelar-reserva-btn');
        const cancelarReservaForm = document.getElementById('cancelarReservaForm');

        cancelarReservaBtns.forEach(button => {
            button.addEventListener('click', (event) => {
                event.preventDefault();
                const reservaId = button.getAttribute('data-id');
                const actionUrl = `{% url 'cancelar_reserva' 0 %}`.replace('0', reservaId);
                cancelarReservaForm.setAttribute('action', actionUrl);
            });
        });
    });
</script>
{% endblock %}