<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href={% url 'base' %}>Reservas y Ventas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-auto">
                <a class="nav-link active" aria-current="page" href={% url 'base' %}>Home</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Planifica tu viaje
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Horarios disponibles</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Trenes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href={% url 'trenes_nuevo' %}>Nuevo tren</a></li>
                        <li><a class="dropdown-item" href={% url 'trenes_lista' %}>Desactivar tren</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href={% url 'clientes_index' %} id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Clientes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href={% url 'clientes_nuevo' %}>Nuevo cliente</a></li>
                        <li><a class="dropdown-item" href={% url 'clientes_editar' %}>Editar cliente</a></li>
                        <li><a class="dropdown-item" href={% url 'clientes_lista' %}>Consultar cliente</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href={% url 'clientes_index' %} id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Rutas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Nueva ruta</a></li>
                        <li><a class="dropdown-item" href="#">Editar ruta</a></li>
                        <li><a class="dropdown-item" href="#">Consultar rutas</a></li>
                    </ul>
                </li>
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </div>
            <div class="navbar-nav ms-auto">
                <a class="nav-link text-white" href="#">Iniciar Sesion</a>
            </div>
        </div>
    </div>
</nav>